html, body {
  background: #EFEFEF;
  font-family: 'Indie Flower', cursive;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body.index {
  text-align: center;
}
